
a{
  text-decoration: none;
}
ul{
  list-style-type: none;
}
.header-bg-color{
  background-color: #F6C9D3;
}
.bg-primary-color{
  background-color: #5956E9;
}
.text-primary-color{
  color: #5956E9;
}
.bg-primary-brand-color{
  background-color: #2522BA;
}
.hero-text-color{
  color: #7B7682;
}
.text-font-size{
  font-size: 80px;
}
.text-hero-font-size{
  font-size: 70px;
}
.text-demo-font-size{
  font-size: 56px;
}
.text-demo-color{
  color: #525260;
}
.features-bg-color{
   background-color: #27272E;
}
.text-inner-color{
  color: #C75C6F;
}
.theme-bg-color{
  background-color:#ECF2F6;
}
.theme-text-size{
  font-size: 18px;
}